body{
    margin: 0pt;
}

#main-header #header-logo{
    height: 50pt;
}

#main-header ul{
    margin: 0pt;
    padding: 0pt;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}