/* id selection */
#z41z517{
    color: #f78;
}

#h48c334{
    color: blueviolet;
}

/* class selection */
.info{
    background-color: lightblue;
}

#selectors{
    border: 2px solid red;
}

div{
    border: 5px solid black;
    
}